<h2> Let's Rock with <%= @concert.band %> </h2>

<p> Venue: <%= @concert.venue%> </p>

<p> City: <%= @concert.city%> </p>

<p> Date: <%= @concert.date%> </p>

<p> Price: <%= @concert.price%> $</p>

<p> Description: <%= @concert.description%> </p>

